body {
    font-family: Arial, sans-serif;
    background-image: url('IMG/background.png'); /* خلفية الموقع */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.9); /* خلفية شبه شفافة */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto; /* تمكين التمرير الرأسي */
    height: 100vh; /* جعل الشريط الجانبي يأخذ ارتفاع الصفحة بالكامل */
}

.sidebar h1 {
    color: #333;
    margin-bottom: 20px;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px; /* إضافة بعض الحشو السفلي لتجنب قطع العناصر الأخيرة */
}

.element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: grab;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}

.element-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combine-area {
    margin-bottom: 20px;
    text-align: center;
}

.drop-zone {
    width: 130px;
    height: 130px;
    border: 2px dashed #ccc;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #0c0c0c;
    transition: all 0.3s ease; /* تأثير انتقال سلس */
}

.drop-zone.drag-over {
    border-color: #28a745; /* تغيير لون الحدود عند السحب */
    background-color: #f0fff4; /* تغيير لون الخلفية */
}

.drop-zone img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.drop-zone div {
    font-size: 14px;
    text-align: center;
}

#combine-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#combine-btn:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    text-align: center;
}

#result-element {
    font-size: 24px;
    font-weight: bold;
    color: #4b4b4b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result-element img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}